<div class="page page--gray page--main">
  <app-header></app-header>

  <main [class.page__main--index-empty]="!offers.length" class="page__main page__main--index">
    <h1 class="visually-hidden">Cities</h1>
    <div class="tabs">
      <section class="locations container">
        <ul class="locations__list tabs__list">
          <li class="locations__item">
            <a class="locations__item-link tabs__item" href="#">
              <span>Paris</span>
            </a>
          </li>
          <li class="locations__item">
            <a class="locations__item-link tabs__item" href="#">
              <span>Cologne</span>
            </a>
          </li>
          <li class="locations__item">
            <a class="locations__item-link tabs__item" href="#">
              <span>Brussels</span>
            </a>
          </li>
          <li class="locations__item">
            <a class="locations__item-link tabs__item tabs__item--active">
              <span>Amsterdam</span>
            </a>
          </li>
          <li class="locations__item">
            <a class="locations__item-link tabs__item" href="#">
              <span>Hamburg</span>
            </a>
          </li>
          <li class="locations__item">
            <a class="locations__item-link tabs__item" href="#">
              <span>Dusseldorf</span>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="cities">
      <div [class.cities__places-container--empty]="!offers.length" class="cities__places-container container">
        @if (offers.length) {
        <app-main-block></app-main-block>
        <div class="cities__right-section">
          <section class="cities__map map"></section>
        </div>
        } @else {
        <app-main-block-empty></app-main-block-empty>
        <div class="cities__right-section"></div>
        }
      </div>
    </div>
  </main>
</div>