<li class="reviews__item">
  <div class="reviews__user user">
    <div class="reviews__avatar-wrapper user__avatar-wrapper">
      <img class="reviews__avatar user__avatar" [src]="review?.user?.avatarUrl" width="54" height="54"
        [alt]="review?.user?.name">
    </div>
    <span class="reviews__user-name">
      {{review?.user?.name}}
    </span>
  </div>
  <div class="reviews__info">
    <div class="reviews__rating rating">
      <div class="reviews__stars rating__stars">
        <span [style.width]="review?.rating | getRating"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <p class="reviews__text">
      {{review?.comment}}
    </p>
    <time class="reviews__time" [attr.datetime]="review?.date | date: 'yyyy-MM-dd' ">{{review?.date | date:
      'MMMM y'}}</time>
  </div>
</li>