<app-layout>
  @if (favoritesByCity$ | async; as favoritesByCity) {
  <main class="page__main page__main--favorites" [class.page__main--favorites-empty]="!favoritesByCity.length">
    <div class="page__favorites-container container">
      @if (favoritesByCity.length === 0) {
      <section class="favorites favorites--empty">
        <h1 class="visually-hidden">Favorites (empty)</h1>
        <div class="favorites__status-wrapper">
          <b class="favorites__status">Nothing yet saved.</b>
          <p class="favorites__status-description">Save properties to narrow down search or plan your future trips.</p>
        </div>
      </section>
      } @else {
      <section class="favorites">
        <h1 class="favorites__title">Saved listing</h1>
        <ul class="favorites__list">
          @for (offer of favoritesByCity; track offer) {
          <li class="favorites__locations-items">
            <div class="favorites__locations locations locations--current">
              <div class="locations__item">
                <a class="locations__item-link" href="#">
                  <span>{{offer[0]}}</span>
                </a>
              </div>
            </div>
            <div class="favorites__places">
              @for (offerItem of offer[1]; let i = $index; track offerItem.id) {
              <app-offer-card [offer]="offerItem" [block]="'favorites'" [size]="'small'"
                [class.favorites__card.marginBottom.px]="i === offer[1].length - 1 ? 0 : 32"></app-offer-card>
              }
            </div>
          </li>
          }
        </ul>
      </section>
      }

    </div>
  </main>
  }


</app-layout>