<app-layout>

  @if (isLoading$ | async) {
  <app-loader></app-loader>
  } @else {
  @if (currentOffer$ | async; as currentOffer) {
  <main class="page__main page__main--offer">
    <section class="offer">
      <app-offer-gallery [offerImages]="currentOffer.images"></app-offer-gallery>
      <div class="offer__container container">
        <div class="offer__wrapper">
          @if (currentOffer.isPremium) {<app-premium-mark [block]="'offer'"></app-premium-mark>}
          <div class="offer__name-wrapper">
            <h1 class="offer__name">
              {{currentOffer.title}}
            </h1>
            <app-bookmark-button [block]="'offer'" [size]="'large'" [isFavorite]="currentOffer.isFavorite">
            </app-bookmark-button>
          </div>
          <div class="offer__rating rating">
            <div class="offer__stars rating__stars">
              <span [style.width]="currentOffer.rating | getRating"></span>
              <span class="visually-hidden">Rating</span>
            </div>
            <span class="offer__rating-value rating__value">{{ currentOffer.rating}}</span>
          </div>
          <ul class="offer__features">
            <li class="offer__feature offer__feature--entire">
              {{currentOffer.type | titlecase}}
            </li>
            <li class="offer__feature offer__feature--bedrooms">
              {{currentOffer.bedrooms}} {{'Bedroom' | pluralEnding: currentOffer.bedrooms}}
            </li>
            <li class="offer__feature offer__feature--adults">
              Max {{currentOffer.maxAdults}} {{'adult' | pluralEnding: currentOffer.maxAdults}}
            </li>
          </ul>
          <div class="offer__price">
            <b class="offer__price-value">&euro;{{currentOffer.price}}</b>
            <span class="offer__price-text">&nbsp;night</span>
          </div>
          <div class="offer__inside">
            <h2 class="offer__inside-title">What&apos;s inside</h2>
            <ul class="offer__inside-list">
              @for (good of currentOffer.goods; track good) {
              <li class="offer__inside-item">
                {{good}}
              </li>
              }
            </ul>
          </div>
          <div class="offer__host">
            <h2 class="offer__host-title">Meet the host</h2>
            <app-host-user [hostUser]="currentOffer.host"></app-host-user>
            <div class="offer__description">
              <p class="offer__text">
                {{currentOffer.description}}
              </p>
            </div>
          </div>
          @if (offerId) {
          <app-reviews-block [offerId]="offerId"></app-reviews-block>
          }
        </div>
      </div>
      @if (offersForMap$ | async; as combinedOffers) {
      <app-map block="offer" [offers]="combinedOffers" [city]="currentOffer.city.location"
        [activeOfferId]="currentOffer.id">
      </app-map>
      }
    </section>
    @if (nearbyOffers$ | async; as nearbyOffers) {
    <div class="container">
      <app-near-places-block [nearbyOffers]="nearbyOffers"></app-near-places-block>
    </div>
    }
  </main>
  }
  @else {<app-not-found-block [type]="'offer'"></app-not-found-block>}
  }

</app-layout>