<form class="reviews__form form" action="#" method="post">
  <label class="reviews__label form__label" for="review">Your review</label>
  <app-form-rating (ratingUpdated)="onRatingChanged($event)"></app-form-rating>
  <textarea class="reviews__textarea form__textarea" id="review" name="review"
    placeholder="Tell how was your stay, what you like and what can be improved"></textarea>
  <div class="reviews__button-wrapper">
    <p class="reviews__help">
      To submit review please make sure to set <span class="reviews__star">rating</span> and describe your
      stay with at least <b class="reviews__text-amount">50 characters</b>.
    </p>
    <button class="reviews__submit form__submit button" type="submit" disabled="">Submit</button>
  </div>
</form>