<app-layout>

  <ng-container *ngIf="(offers$ | async) as offers">
    <main [class.page__main--index-empty]="offers?.length === 0" class="page__main page__main--index">
      <h1 class="visually-hidden">Cities</h1>
      <app-tabs [currentCity]="(currentCity$ | async)!" (changeCity)="onChangeCurrentCity($event)"></app-tabs>
      <div class="cities">
        <div [class.cities__places-container--empty]="offers?.length === 0" class="cities__places-container container">

          <ng-container *ngIf="offers.length > 0; else empty">
            <app-main-block [offers]="offers" (changeActiveId)="onChangeActiveId($event)"></app-main-block>
            <div class="cities__right-section">
              <app-map [city]="cityForMap" [offers]="offers" [activeOfferId]="activeOfferId">
              </app-map>
            </div>
          </ng-container>

        </div>
      </div>
    </main>
  </ng-container>

</app-layout>

<ng-template #empty>
  <app-main-block-empty></app-main-block-empty>
  <div class="cities__right-section"></div>
</ng-template>