<app-layout>

  <main [class.page__main--index-empty]="!offers.length" class="page__main page__main--index">
    <h1 class="visually-hidden">Cities</h1>
    <app-tabs></app-tabs>
    <div class="cities">
      <div [class.cities__places-container--empty]="!offers.length" class="cities__places-container container">
        @if (offers.length) {
        <app-main-block [offers]="offers"></app-main-block>
        <div class="cities__right-section">
          <section class="cities__map map"></section>
        </div>
        } @else {
        <app-main-block-empty></app-main-block-empty>
        <div class="cities__right-section"></div>
        }
      </div>
    </div>
  </main>

</app-layout>