<article [class]="`${block}__card place-card`">
  @if (offer.isPremium){<app-premium-mark></app-premium-mark>}
  <div [class]="`${block}__image-wrapper place-card__image-wrapper`">
    <a [routerLink]="['/offer', offer.id]">
      <img class="place-card__image" [src]="offer.previewImage" [attr.width]="imageSize[size].width"
        [attr.height]="imageSize[size].height" alt={{offer.title}}>
    </a>
  </div>
  <div class="place-card__info">
    <div class="place-card__price-wrapper">
      <div class="place-card__price">
        <b class="place-card__price-value">&euro;{{offer.price}}</b>
        <span class="place-card__price-text">&#47;&nbsp;night</span>
      </div>
      <app-bookmark-button [isFavorite]="offer.isFavorite"></app-bookmark-button>
    </div>
    <div class="place-card__rating rating">
      <div class="place-card__stars rating__stars">
        <span [style.width]="offer.rating | getRating"></span>
        <span class="visually-hidden">Rating</span>
      </div>
    </div>
    <h2 class="place-card__name">
      <a [routerLink]="['/offer', offer.id]">{{offer.title}}</a>
    </h2>
    <p class="place-card__type">{{offer.type}}</p>
  </div>
</article>